---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Jcasimir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1549580825'
      Etag:
      - W/"b356540eaa23fbd3afcad30cd688b441"
      Last-Modified:
      - Thu, 07 Feb 2019 16:54:12 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jcasimir","id":43102,"node_id":"MDQ6VXNlcjQzMTAy","avatar_url":"https://avatars1.githubusercontent.com/u/43102?v=4","gravatar_id":"","url":"https://api.github.com/users/jcasimir","html_url":"https://github.com/jcasimir","followers_url":"https://api.github.com/users/jcasimir/followers","following_url":"https://api.github.com/users/jcasimir/following{/other_user}","gists_url":"https://api.github.com/users/jcasimir/gists{/gist_id}","starred_url":"https://api.github.com/users/jcasimir/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jcasimir/subscriptions","organizations_url":"https://api.github.com/users/jcasimir/orgs","repos_url":"https://api.github.com/users/jcasimir/repos","events_url":"https://api.github.com/users/jcasimir/events{/privacy}","received_events_url":"https://api.github.com/users/jcasimir/received_events","type":"User","site_admin":false,"name":"Jeff
        Casimir","company":"@turingschool ","blog":"http://turing.io","location":"Denver,
        CO","email":"jeff@turing.io","hireable":null,"bio":"Executive Director of
        the Turing School of Software & Design","public_repos":146,"public_gists":217,"followers":414,"following":0,"created_at":"2008-12-29T08:23:52Z","updated_at":"2019-02-07T16:54:12Z"}'
  recorded_at: Thu, 07 Feb 2019 22:07:05 GMT
recorded_with: VCR 4.0.0
