---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1548897872'
      Etag:
      - W/"c51bf172a414fa14a492ecb7a6a1a23a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"abroberts5","id":40776966,"node_id":"MDQ6VXNlcjQwNzc2OTY2","avatar_url":"https://avatars2.githubusercontent.com/u/40776966?v=4","gravatar_id":"","url":"https://api.github.com/users/abroberts5","html_url":"https://github.com/abroberts5","followers_url":"https://api.github.com/users/abroberts5/followers","following_url":"https://api.github.com/users/abroberts5/following{/other_user}","gists_url":"https://api.github.com/users/abroberts5/gists{/gist_id}","starred_url":"https://api.github.com/users/abroberts5/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/abroberts5/subscriptions","organizations_url":"https://api.github.com/users/abroberts5/orgs","repos_url":"https://api.github.com/users/abroberts5/repos","events_url":"https://api.github.com/users/abroberts5/events{/privacy}","received_events_url":"https://api.github.com/users/abroberts5/received_events","type":"User","site_admin":false},{"login":"MaryBork","id":38509894,"node_id":"MDQ6VXNlcjM4NTA5ODk0","avatar_url":"https://avatars1.githubusercontent.com/u/38509894?v=4","gravatar_id":"","url":"https://api.github.com/users/MaryBork","html_url":"https://github.com/MaryBork","followers_url":"https://api.github.com/users/MaryBork/followers","following_url":"https://api.github.com/users/MaryBork/following{/other_user}","gists_url":"https://api.github.com/users/MaryBork/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
