---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1549577200'
      Etag:
      - W/"af519f7bb20ba3cb918de84df28c22de"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"holt-ace","id":35115576,"node_id":"MDQ6VXNlcjM1MTE1NTc2","avatar_url":"https://avatars0.githubusercontent.com/u/35115576?v=4","gravatar_id":"","url":"https://api.github.com/users/holt-ace","html_url":"https://github.com/holt-ace","followers_url":"https://api.github.com/users/holt-ace/followers","following_url":"https://api.github.com/users/holt-ace/following{/other_user}","gists_url":"https://api.github.com/users/holt-ace/gists{/gist_id}","starred_url":"https://api.github.com/users/holt-ace/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/holt-ace/subscriptions","organizations_url":"https://api.github.com/users/holt-ace/orgs","repos_url":"https://api.github.com/users/holt-ace/repos","events_url":"https://api.github.com/users/holt-ace/events{/privacy}","received_events_url":"https://api.github.com/users/holt-ace/received_events","type":"User","site_admin":false},{"login":"cebarks","id":551065,"node_id":"MDQ6VXNlcjU1MTA2NQ==","avatar_url":"https://avatars3.githubusercontent.com/u/551065?v=4","gravatar_id":"","url":"https://api.github.com/users/cebarks","html_url":"https://github.com/cebarks","followers_url":"https://api.github.com/users/cebarks/followers","following_url":"https://api.github.com/users/cebarks/following{/other_user}","gists_url":"https://api.github.com/users/cebarks/gists{/gist_id}","starred_url":"https://api.github.com/users/cebark[...]
