<div class="col col-4">
  <h1>My Bookmarks</h1>
  <ul class="bookmarks">
    <% @bookmarks.each do |bookmark| %>
      <li>
        <h3><%= link_to bookmark.title, tutorial_path(video_id: bookmark.id, id: bookmark.tutorial_id), class: "bookmark-link", id: bookmark.position %></h3>
      </li>
    <% end %>
  </ul>
</div>
